html {
    width: 100%;
    height: 100vh;
}

.App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(176,169,255);
    background: linear-gradient(311deg, rgba(176,169,255,1) 38%, rgba(154,224,255,1) 100%);
    color: white
}

.row {
    width: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-md-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

@media only screen and (max-width: 700px) {
    .form-control {
        width: 300px;
    }
}